body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff; /* Azul claro de playa */
    color: #333;
}

header {
    background-color: #0077b6; /* Azul profundo del mar */
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #00b4d8; /* Azul cielo */
}

.categories {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category {
    padding: 1em;
    cursor: pointer;
    color: white;
    border-right: 1px solid #0096c7; /* Azul intermedio */
    flex: 1;
    text-align: center;
    transition: background-color 0.3s ease;
}

.category:last-child {
    border-right: none;
}

.category:hover {
    background-color: #0096c7; /* Azul intermedio */
}

main {
    padding: 1em;
    background-color: #e0f7fa; /* Fondo azul muy claro */
}

.restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.restaurant {
    background-color: white;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    flex: 1 1 calc(50% - 2em);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.restaurant img {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto; /* Ajusta automáticamente la altura según el ancho para mantener la proporción */
    max-width: 300px; /* Tamaño máximo para asegurar que no se desborde en pantallas pequeñas */
    object-fit: cover; /* Ajusta la imagen manteniendo la relación de aspecto y cubriendo el contenedor */
    border-radius: 5px;
}


.restaurant p {
    margin: 0.5em 0;
}

.restaurant .btn {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #0077b6; /* Azul profundo del mar */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.restaurant .btn:hover {
    background-color: #0096c7; /* Azul intermedio */
}

.restaurant:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #0077b6; /* Azul profundo del mar */
    color: white;
}

@media (max-width: 768px) {
    .restaurant img {
        max-width: 100%; /* La imagen ocupará todo el ancho disponible en dispositivos más pequeños */
    }
}

